{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}{{app_name}} Airlines Dashboard {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">

    <style>        
        .toppanes{
            height: 140px;
        }
        .datapanes2{
            height: 350px;
        }
        .node {
            cursor: pointer;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body">

    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Airline Dashboard with Drilldown</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 70%;">
            <div class="dashboard-panel">
                <div class="dashboard-element toppanes" >
                    <div class="panel-head">
                        <h3>Choose a city</h3>
                    </div>
                    <div style="margin: 20px;">
                    <p>This page lets you choose a city and updates all searches to correspond to that city.</p>
                    {% dropdown id="citySelectDropdown" default="Seattle, WA" valueField="DestCityName" managerid="city-select-search" value="$cityName$"|token_safe %}
                </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 30%;">
            <div class="dashboard-panel">
                <div class="dashboard-element toppanes" >
                    <div class="panel-head">
                        <h3>Arrival Volume in <span class="city-heading">Seattle</span></h3>
                    </div>
                    {% single id="single1" managerid="single-search1" beforeLabel="Total Arrivals" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2><span class="city-heading">Seattle</span> Air Traffic Origin Cities</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell " style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element" style="height: 440px;" >
                    <div class="panel-head">
                        <h3>Origin city volume. Click to select city.</h3>
                    </div>                    
                    <div>
                    {% bubblechart id="bubblechart" managerid="bubble-search" labelField="OriginCityName" categoryField="OriginState" height=400 %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element" >
                    <div class="panel-head">
                        <h3>Origin City Location</h3>
                    </div>
                    <div id="map-div"></div>
                        
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2><span class="carrier-heading">Carrier</span> Details</h2>
        </div>
    </div>
    <div class="dashboard-row" style="margin-top: 0px;">
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element datapanes2" >
                   <div class="panel-head">
                        <h3>Volume by Carrier in <span class="city-heading">Seattle</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div style="margin-top: 60px;">
                                {% chart id="carrier-chart1" managerid="carrier-search1" type="pie" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element datapanes2" >
                    <div class="panel-head">
                        <h3><span class="carrier-heading">Delta Air Lines Inc</span>Cities Served</h3>
                    </div>
                    {% chart id="carrier-cities" managerid="carrier-city-search" %}
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element datapanes2" >
                    <div class="panel-head">
                        <h3><span id="carrier-heading">Delta Air Lines Inc</span> Cities Served</h3>
                    </div>
                    {% table id="carrier-citiesrt" managerid="carrier-city-search" pageSize="6" %}
                </div>
            </div>
        </div>     
    </div>
   
</div>

{% endblock content%}

{% block managers %}
    
   {% searchmanager id="city-select-search" search="| inputlookup faa.demo.csv | head 5000 | stats count by DestCityName"%}

   {% searchmanager id="mapsearch" search='| inputlookup faa.demo.csv | search DestCityName="$cityName$" | rename OriginLatitude as lat, OriginLongitude as lon | geostats count'|token_safe %}

   {% searchmanager id="carrier-city-search" search='| inputlookup faa.demo.csv | head 10000 | search AirlineDescription="$carrier$" | chart count by DestCityName | sort count'|token_safe %}

{% endblock managers %}

{% block js %}
<script type="text/javascript">

require([
    "splunkjs/mvc", 
    "splunkjs/mvc/utils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/splunkmapview",
    "splunk.config",
    "splunkjs/ready!"], 
    function(mvc, utils, _, $) {

        // Set initial carrier
        mvc.Components.getInstance("default").set("carrier", "Delta Air Lines Inc.: DL");
        var BubbleChart = mvc.Components.getInstance("bubblechart");

        var SearchManager = require("splunkjs/mvc/searchmanager");

        new SearchManager({
            "id": "arrival-count-search",
            "search": mvc.tokenSafe('| inputlookup faa.demo.csv | head 100000 | search DestCityName="$cityName$" | stats count '),
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
        });
        new SearchManager({
            "id": "bubble-search",
            "search": mvc.tokenSafe('| inputlookup faa.demo.csv | search (DestCityName="$cityName$") | stats count by OriginCityName OriginState | sort - count limit=30'),
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
            "wait": 0
        });
        new SearchManager({
            "id": "carrier-search1",
            "search": mvc.tokenSafe('| inputlookup faa.demo.csv | head 100000 | search DestCityName="$cityName$" | chart count by AirlineDescription'),
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
            "wait": 0
        });

        new SearchManager({
            "id": "single-search1",
            "search": mvc.tokenSafe('| inputlookup faa.demo.csv | head 100000 | search DestCityName="$cityName$" | stats count '),
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
        });

        var SplunkMapView = require("splunkjs/mvc/splunkmapview");
        var map = new SplunkMapView({
            'id' : "map1",
            'managerid' : "mapsearch",
            'mapping.map.fitBounds' : "(7.885147283424331,-148.7109375,61.3546135846894,-49.74609374999999)",
            'mapping.tileLayer.minZoom' : 3,
            'el' : $('#map-div')
        });

        mvc.Components.getInstance("default").on("change:cityName", function(model, value, options) {
            $(".city-heading").text(value.split(',')[0]);
        });
        mvc.Components.getInstance("default").on("change:carrier", function(model, value, options) {
            $(".carrier-heading").text(value);
        });

        var chart = mvc.Components.getInstance("carrier-chart1");
        chart.on("clicked:chart", function(e){
            e.preventDefault();
            mvc.Components.getInstance("default").set("carrier", (e.value));
        });

        BubbleChart.on("click", function(e){
            mvc.Components.getInstance("default").set("cityName", e.name);
        });
    });

    </script>
{% endblock js %}