{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

5: {% block title %}Bubble Chart - Web Framework Toolkit{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
#bubble1{
   height: 500px;
}
</style>
{% endblock css %}

    {% block heading %}Bubble Chart{% endblock heading %}
    {% block example %}
        {% bubblechart 
            id="bubble1" 
            managerid="search1"
            valueField="count"
            labelField="OriginCityName"
            categoryField="OriginState"
        %}
    {% endblock example %}
    {% block usage%}
        <p>The Bubble Chart visualizes the magnitude of data values as circular areas. Comparing one value to another might be harder at first glance in a bubble chart than in a bar chart, but bubble charts are good for giving an overall impression of a large number of inputs in a small space. Data can optionally be grouped and colored by secondary fields to convey more information in the same area.</p>

        <ul>
            <li>Require path: <code>splunk_wftoolkit/components/bubblechart/bubblechart</code></li>
            <li>The Bubble Chart works best with data that has magnitude and is grouped by category. For example, Splunk searches that include a <code>stats count by ...</code> tend to work well.</li>
        </ul>
        <h4>Example Searches</h4>
        <div class="well"><ul>
            <li>index=_internal | head 10000 | stats count by sourcetype clientip</li>
            <li>| inputlookup faa.demo.csv | stats count by OriginCityName OriginState cancellation</li>
        </ul>
        </div>
        <h4>Properties</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td><b>Name</b></td>
                <td><b>Type</b></td>
                <td><b>Default</b></td>
                <td><b>Description</b></td>
                <td><b>Try it</b></td>
            </tr>
            <tr>
                <td><code>managerid</code></td>
                <td><b>string</b></td>
                <td><b>null</b></td>
                <td>The search manager bound to the chart.</td>
                <td>-</td>
            </tr>
            <tr>
                <td><code>valueField</code></td>
                <td><b>string</b></td>

                <td><b>null</b> (defaults to all)</td>
                <td>The magnitude field in the data. Circles will be sized based on this field. If the field does not exist, circles will be uniform size</td>

                <td>{% dropdown id="value-dropdown" default="count" %}</td>
            </tr>
            <tr>
                <td><code>labelField</code></td>
                <td><b>string</b></td>
                <td><b>null</b></td>

                <td>The field used for labeling circles</td>

                <td>{% dropdown id="name-dropdown" default="OriginCityName" %}</td>
            </tr>
            <tr>
                <td><code>categoryField</code></td>
                <td><b>string</b></td>
                <td><b>null</b></td>
                <td>The field used for grouping data.</td>
                <td>{% dropdown id="category-dropdown" default="OriginState" %}</td>
            </tr>
            <tr>
                <td><code>formatLabel</code></td>
                <td><b>function</b></td>
                <td><b>"{name} {value}"</b></td>
                <td>A custom formatting function bubble labels. Takes each node name as an input and returns a formatted name.</td>
                <td>{% dropdown id="formatLabelDropdown" default="default" %}</td>
            </tr>
            <tr>
                <td><code>formatTooltip</code></td>
                <td><b>function</b></td>
                <td><b>"{name}: {value}"</b></td>
                <td>A custom formatting function for path tooltips. Takes each node as an input and returns a formatted tooltip string.</td>
                <td>{% dropdown id="formatTooltipDropdown" default="default" %}</td>
            </tr>
        </table>
        <h4>Events</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td><b>Name</b></td>
                <td><b>Properties</b></td>
            </tr>
            <tr>
                <td><code>click</code></td>
                <td>
                    <ul>
                        <li>
                            <code>name</code>: The name of the clicked bubble.
                        </li>
                        <li>
                            <code>category</code>: The category name of the clicked bubble.
                        </li>
                        <li>
                            <code>value</code>: The size value of the clicked bubble.
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% endblock usage%}
{% block codesample %}
    require([ 
        "splunkjs/ready!", 
        "jquery",
        "splunk_wftoolkit/components/bubblechart/bubblechart",
    ], 
    function(mvc, $, BubbleChart) {
        var bubbles = new BubbleChart({
            'id' : 'example',
            'managerid' : 'example-search',
            'el' : $('#example-chart')
        }).render();
        bubbles.on('click', function(e) {
            alert('Clicked on: ' + e.name);
        });
    });
{% endblock codesample %}

{% block managers %}

    {% searchmanager id="search1" search='| inputlookup faa.demo.csv | stats count by OriginCityName OriginState cancellation | sort - count' cache=True %}

{% endblock managers %}

{% block js %}
{{block.super}}
<script type="text/javascript">
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview",
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        ){
            var bubbles = mvc.Components.getInstance("bubble1");
            var valuedd = mvc.Components.getInstance("value-dropdown");
            var categorydd = mvc.Components.getInstance("category-dropdown");
            var namedd = mvc.Components.getInstance("name-dropdown");
            var formatLabelDropdown = mvc.Components.getInstance("formatLabelDropdown");
            var formatTooltipDropdown = mvc.Components.getInstance("formatTooltipDropdown");

            var valueChoices = [
                                {label: "Count", value: "count"},
                                {label: "Bogus Value", value: "bogus"},
                            ];
            valuedd.settings.set("choices", valueChoices);
            valuedd.on("change", function(){
                bubbles.settings.set("valueField", valuedd.val());
            });

            var categoryChoices = [
                                {label: "Origin City", value: "OriginCityName"},
                                {label: "Origin State", value: "OriginState"},
                                {label: "Cancellation Cause", value: "cancellation"}
                            ];

            categorydd.settings.set("choices", categoryChoices);
            categorydd.on("change", function(){
                bubbles.settings.set("categoryField", categorydd.val());
            });

            var nameChoices = categoryChoices;
            namedd.settings.set("choices", nameChoices);
            namedd.on("change", function(){
                bubbles.settings.set("labelField", namedd.val());
            });

            bubbles.on("click", function(e){
                console.log("Click Event");
                console.log(e);
            });

            // Format label logic
            var LABEL_FORMATTERS = {
                "default": function(d) { 
                    var format = d3.format(",d");
                    return d.className + " " + format(d.value); 
                },
                "state": function(d) { 
                    return d.className.split(", ")[1];
                },
                "caps": function(d) {
                    return d.className.toUpperCase();
                }
            };
            bubbles.settings.set({
                'formatLabel': LABEL_FORMATTERS['default']
            });
            
            formatLabelDropdown.settings.set({
                "choices": [
                    {label: "Default", value: "default" },  
                    {label: "States", value: "state" },  
                    {label: "All Caps", value: "caps" }
                ]
            });
            formatLabelDropdown.on("change", function(val) {
                bubbles.settings.set("formatLabel", LABEL_FORMATTERS[val]); 
            });

            // Tooltip formatter logic
            var TOOLTIP_FORMATTERS = {
                "default": function(d) {
                    var text;
                    if(d.className === undefined || d.className === ""){
                        text = "Event: " + d.value;
                    } else {
                        text = d.className+": " + d.value;
                    }
                    return text;
                },
                "custom": function(d) { 
                    return _.template("<%= className %> has a value of <%= value %>", d);
                }
            };
            formatTooltipDropdown.settings.set({
            "choices": [
                {label: "Default", value: "default" },  
                {label: "Custom", value: "custom" }
            ]
            });
            formatTooltipDropdown.on("change", function(val) {
                bubbles.settings.set("formatTooltip", TOOLTIP_FORMATTERS[val]); 
            });


        });
</script>     

{% endblock js %}
