{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Cached Searches - Web Framework Toolkit{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Cached searches</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                    <p>Search managers let you use pre-existing
                    search jobs when they exist. This feature allows
                    developers to load pages faster, without 
                    having to create saved reports.
                    </p>
                    <p>A cached search can only be used when the search job is an exact match&mdash;all of its parameters
                    must be equal to what the search manager would have created.
                    </p>
                    <p>
                    To use cached searches, use the search manager's <code>cache</code> 
                    property, which takes one of these values:</p>
                    
                    <div class="well">
                        <ul>
                            <li><code>true</code>: Always use any existing search job.</li>
                            <li><code>false</code>: Always create a new job.</li>
                            <li><code>n</code>: Use an existing search job if it 
                                is newer than <code>n</code> seconds, where <i>n</i> &gt; 0.</li>
                            <li><code>scheduled</code>: Reuse any previously-run scheduled jobs.</li>
                        </ul>
                    </div>
                    
                    <p>
                    Below are three tables demonstrating cache properties. After
                    the initial page loads, refresh the page and notice how much
                    more quickly the cached values load.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Never cache (<code>false</code>)</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="table1" managerid="nocache" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Always cache (<code>true</code>)</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="table2" managerid="cache" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cache for 60 seconds (<code><i>n</i></code>)</h3>
                    </div>
                    <div class="panel-body">
                        {% table id="table3" managerid="cache60" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="nocache" search="index=_internal | head 1000 | stats count by sourcetype" cache=False %}
    {% searchmanager id="cache" search="index=_internal | head 1000 | stats count by sourcetype" cache=True %}
    {% searchmanager id="cache60" search="index=_internal | head 1000 | stats count by sourcetype" cache=60 %}
{% endblock managers %}