{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

5: {% block title %}Calendar Heatmap - Web Framework Toolkit{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

    {% block heading %}Calendar Heatmap{% endblock heading %}
    
    {% block example %}
        {% calendarheatmap 
                id="myheat"
                managerid="search1"
                domain="hour"
                subDomain="min"
        %}
    {% endblock example %}
    {% block usage%}
        <p>The Calendar Heatmap displays time-series data on a timeline as a heatmap. This view is good for visualizing time-based events and activity and can be configured extensively.</p>

        <ul>
            <li>Require path: <code>splunk_wftoolkit/components/calendarheatmap/calendarheatmap</code></li>
            <li>The Calendar Heatmap works best with Splunk searches that use the <b>timechart</b> command.</li>
            <li>The Calendar Heatmap displays a different timeline for each field in the results that are returned from a <b>timechart</b> search.</li>
        </ul>
        <h4>Example searches</h4>
        <div class="well"><ul>
            <li>index=_internal sourcetype=splunkd_access | head 2000 | timechart span=1m count by status</li>
        </ul>
        </div>
        <h4>Properties</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td><b>Name</b></td>
                <td><b>Type</b></td>
                <td><b>Default</b></td>
                <td><b>Description</b></td>
                <td><b>Try it</b></td>
            </tr>
            <tr>
                <td><code>managerid</code></td>
                <td><b>string</b></td>
                <td><b>null</b></td>
                <td>The search manager bound to the chart.</td>
                <td>-</td>
            </tr>
            <tr>
                <td><code>domain</code></td>
                <td><b>string</b></td>
                <td><b>'hour'</b></td>
                <td>The largest unit the heatmap will differentiate by (represented as blocks of squares). Possible values are: <b>hour, day, week, month, year</b>.</td>
                <td>{% dropdown id="domain-dropdown" default="hour" %}</td>
            </tr>
            <tr>
                <td><code>subDomain</code></td>
                <td><b>string</b></td>
                <td><b>'min'</b></td>
                <td>The smaller unit the heatmap differentiates by (represented as squares). Not all values are allowed, depending on the domain. Possible values are: <b>min, x_min, hour, x_hour, day, x_day, week, x_week, month, x_month</b> (x_ variants are used to rotate the reading order to left to right, then top to bottom).</td>
                <td>{% dropdown id="subDomain-dropdown" default="min" %}</td>
            </tr>
            <tr>
                <td><code>options</code></td>
                <td><b>Dictionary</b></td>
                <td><b>{}</td>
                <td>This dictionary is passed to the wrapped <b>cal heat</b> control as-is and sets non-Splunk-specific options. For more on options that can be passed to <b>cal heat</b>, see the <a href="http://kamisama.github.io/cal-heatmap/" target="_blank">Cal-Heatmap documentation</a>.</td>
                <td>-</td>
            </tr>
        </table>
        <h4>Events</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td><b>Name</b></td>
                <td><b>Properties</b></td>
            </tr>
            <tr>
                <td><code>click</code></td>
                <td>
                    <ul>
                        <li>
                            <code>date</code>: The timestamp of the clicked cell.
                        </li>
                        <li>
                            <code>value</code>: The value of the field at that time.
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% endblock usage%}
{% block codesample %}
    require([ 
        "splunkjs/ready!", 
        "jquery",
        "splunk_wftoolkit/components/calendarheatmap/calendarheatmap",
    ], 
    function(mvc, $, CalendarHeatmap) {
        var calendar = new CalendarHeatmap({
            'id' : 'example',
            'managerid' : 'example-search',
            'el' : $('#example-chart')
        }).render();
    });
{% endblock codesample %}


{% block managers %}
    {% searchmanager id="search1"
        search='index=_internal sourcetype=splunkd_access | head 2000 | timechart span=1m count by status'
        cache=True
    %}
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require(["splunkjs/ready!",
            "jquery",
            "splunkjs/mvc/dropdownview",
            "splunk_wftoolkit/components/calendarheatmap/calendarheatmap"
            ], 
            function(
                mvc,
                $,
                Dropdown,
                CalHeat) {
        var heat = mvc.Components.getInstance("myheat");
        var domaindd = mvc.Components.getInstance("domain-dropdown");
        var subDomaindd = mvc.Components.getInstance("subDomain-dropdown");
        heat.settings.set("options", {
            // Define options here. Options defined in this
            // 'options' dictionary are passed to the wrapped
            // cal heat control. For more usage info see
            // http://kamisama.github.io/cal-heatmap/
            range: 5,
        });

        domainChoices = [
                        {label: "hour", value: "hour"},
                        {label: "day", value: "day"},
                        {label: "week", value: "week"},
                        {label: "month", value: "month"},
                        {label: "year", value: "year"},
                        ];
        domaindd.settings.set("choices", domainChoices);
        domaindd.on("change", function(){
            heat.settings.set("domain", domaindd.val());
        });

        subDomainChoices = [
                        {label: "min", value: "min"},
                        {label: "hour", value: "hour"},
                        {label: "day", value: "day"},
                        {label: "week", value: "week"},
                        {label: "month", value: "month"},
                        {label: "x_min", value: "x_min"},
                        {label: "x_hour", value: "x_hour"},
                        {label: "x_day", value: "x_day"},
                        {label: "x_week", value: "x_week"},
                        {label: "x_month", value: "x_month"}
                        
                        ];
        subDomaindd.settings.set("choices", subDomainChoices);
        subDomaindd.on("change", function(){
            heat.settings.set("subDomain", subDomaindd.val());
        });
        heat.on("click", function(e){console.log("Event:");console.log(e);})



    });
</script>

{% endblock js %}
