{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}Calendar Heatmap{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

    {% block heading %}Calendar Heatmap{% endblock heading %}
    
    {% block example %}
        {% calendarheatmap 
                id="myheat"
                managerid="search1"
                domain="hour"
                subdomain="min"
        %}
    {% endblock example %}


{% block managers %}
    {% searchmanager id="search1"
        search='index=_internal sourcetype=splunkd_access | head 2000 | timechart span=1m count by status'
        cache=True
    %}
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        var heat = mvc.Components.getInstance("myheat");
        heat.settings.set("options", {
            //define options here
            range: 5,
        });

    });
</script>

{% endblock js %}
