{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}NVD3 Charts - Web Framework Toolkit{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">

    <style>
        .panel {
            overflow: visible;
        }
        .chart-box {
            height: 500px;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>NVD3 charts</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-body">
                    </br>
                        <p>This example shows how to display data from the sample FAA dataset in a couple of <a href="http://nvd3.org/" target="_blank">NVD3 charts</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Times</h3>
                    </div>
                    <div class="panel-body">
                            <div id="hook1" class="splunkdj-view chart-box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Flights arriving by city</h3>
                    </div>
                    <div class="panel-body">
                        <div id="hook" class="splunkdj-view chart-box"/></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- <div class="dashboard-row"> -->
        <!-- <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Pie</h3>
                    </div>
                    <div class="panel-body">
                            <div id="hook3" class="splunkdj-view chart-box"></div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Flights arriving by city</h3>
                    </div>
                    <div class="panel-body">
                        <div id="hook4" class="splunkdj-view chart-box"/></div>
                    </div>
                </div>
            </div>
        </div> -->
        
    <!-- </div> -->
</div>

{% endblock content%}

{% block js %}
<script>
    require(["splunkjs/ready!",
                "splunkjs/mvc/utils",
                "splunkjs/mvc/searchmanager",
                "splunkjs/mvc/d3chart/d3chartview"], function(mvc, utils) {
        var _ = require("underscore");
        var SearchManager = require("splunkjs/mvc/searchmanager");
        var D3ChartView = require("splunkjs/mvc/d3chart/d3chartview");

        // new SearchManager({
        //      "id": "search1",
        //      "latest_time": null,
        //      "search": "index=faa ArrDelay=* earliest=\"1359590400\" latest=\"1359676799\" | timechart span=1h avg(DepDelayMinutes) AS AvgDepDelay avg(ArrDelayMinutes) AS AvgArrDelay | appendcols [search index=faa earliest=\"1359590400\" latest=\"1359676799\" | timechart span=1h count AS TotalFlights | rename _time as newtime, _span as newspan] | eval _time=ifnull(_time, newtime, _time) | eval _span=ifnull(_span, newspan, _span) | fields - newspan, newtime | table _time AvgDepDelay AvgArrDelay TotalFlights",
        //      "auto_cancel": 90,
        //      "status_buckets": 0,
        //      "preview": true,
        //      "timeFormat": "%s.%Q",
        //      "wait": 0,
        //      "app": "demo_bubbles",
        //      "cache": true
        //  });

        //  var pareto_chart = new D3ChartView({
        //      "id": "mychart",
        //      "managerid": "search1",
        //      "type": "linePlusBarChart",
        //      "el": $('#hook1')
        //  }).render();

        //  pareto_chart.settings.set("setup", function(chart) {
        //      chart.xAxis.tickFormat(function(d) {
                
        //          var format = d3.time.format("%X");
        //          return format(new Date(d));
        //      });
            
        //      chart.xAxis.rotateLabels(90);
        //      chart.color(d3.scale.category10().range());
        //      chart.margin({right: 100, left: 80});
            
            
        //      chart.y1Axis.axisLabel("Avg. Delay");
        //      chart.y2Axis.axisLabel("Total Flights");
            
        //      chart.y1Axis.tickFormat(function(tick) {
        //          return tick.toFixed(2);
        //      });
            
        //      var xScale = d3.time.scale.utc()
        //          .domain([new Date(1359590400000), new Date(1359676799000)]);
                
        //      chart.xAxis.scale(xScale);
        //      chart.xAxis.axisLabel("Time of Day");
            
        //      chart.xAxis.tickValues(xScale.ticks(d3.time.hours.utc, 1));
        //  });

        new SearchManager({
            'id': "search2",
            'preview': true,
            'search': "|inputlookup faa.demo.csv | search DestCityName=* | stats count by DestCityName | sort - count | head 10",
        });

        new SearchManager({
            'id': "search3",
            'preview': true,
            'search': '|inputlookup faa.demo.csv | head 100000 | search DestCityName="Atlanta, GA" AND DayOfWeek=1 | timechart span=1h count',
        });

        var bar_chart = new D3ChartView({
            "id": "bar",
            "managerid": "search2",
            "type": "discreteBarChart",
            "el": $('#hook')
        }).render();

        bar_chart.settings.set("setup", function(chart){
            chart.color(d3.scale.category10().range());
            chart.staggerLabels(true);
            chart.showValues(true);
        });

        var donut_chart = new D3ChartView({
            "id": "donut",
            "managerid": "search2",
            "type": "pieChart",
            "el": $('#hook1')
        }).render();

        donut_chart.settings.set("setup", function(chart){
            chart.color(d3.scale.category10().range());
            chart.donut(true);
           // chart.staggerLabels(true);
            //chart.showValues(true);
        });

             
    });
</script>

{% endblock js %}