{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_label}} - Overview {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />

    <style>
        .span-full {
            width: 100%;
        }
        .span-half {
            width: 50%;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Basic Dashboard Using Django</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 1</h3>
                    </div>
                    <div class="panel-body">
                        <p>This example shows the layout for a basic dashboard using Django template tags.</p>

                        <p>Source file: <b>$SPLUNK_HOME/etc/apps/splunk_wftoolkit/django/splunk_wftoolkit/templates/dashboarddj_stencil.html</b></p>

                        <p>You can use this code template as a starting point for your own app&mdash;copy and paste the source code from this template into your own template, and then edit it.</p>
                        <p>To learn how to use the template, see the comments in the source file.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 2</h3>
                    </div>
                    <div class="panel-body">
                        <p>Add content to this cell.</p>

                        <!-- 
                        TODO: Add a Django template tag to place a view in this cell.

                        You'll need to provide an 'id' for the view and a 'managerid' for the 
                        search manager from which to display data. 

                        For example, this tag adds a table called 'sample-table' bound to a
                        search manager called 'sample-manager':

                        {% table id="sample-table" managerid="sample-manager" %}
                        -->  

                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 3</h3>
                    </div>
                    <div class="panel-body">
                        <p>Add content to this cell.</p>

                        <!-- 
                        TODO: Add another Django template tag. 

                        Many views take inline options. For example, charts have a 'type' property
                        so you can specify the type of chart to display. For example, 
                        this tag displays a pie chart:

                        {% chart id="sample-chart" type="pie" managerid="sample-manager" %}
                        -->
                                                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 4</h3>
                    </div>
                    <div class="panel-body">
                        <p>Add content to this cell.</p> 
                        
                        <!-- 
                        TODO: Add another Django template tag. 
                        --> 

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Add a SearchBar view</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 5</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                        Add a SearchBar view here to control a search manager. Any other views that are bound to the same search manager will be updated when the search is run.
                        </p>

                        <!-- 
                        TODO: Add a search bar. 

                        The SearchBar view is bound to a search manager. 
                        Like other views, the SearchBar view listens to the search manager to keep its
                        properties in sync. However, the SearchBar view can also modify the search 
                        manager by setting the query and search properties when the search bar value changes.
                        To do this, you'll need to either use tokens or create a change event handler.

                        This example shows to use a token for the search bar's value. The search manager uses 
                        the same token to bind the values together:

                        {% searchbar    
                            id="sample-searchbar"
                            default="index=_internal | head 100" 
                            value="$query$"|token_safe  
                            managerid="sample-bound-manager" %}
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 6</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                        Add a view here that is bound to the same search manager as the SearchBar view.
                        </p>

                        <!-- 
                        TODO: Add a view here that is bound to the same search manager as the 
                        search bar. When the search query in the search bar changes,
                        this view will also be updated.
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
{% endblock content%}

{% block managers %}

    <!-- 
    TODO: Add a search manager that is bound to the searchbar. Because the search bar
    provides the search query using the $query$ token, you don't need to provide
    a search query in the search manager. For example:

    {% searchmanager id="sample-bound-manager" search="$query$"|token_safe %}
    -->

    <!-- 
    TODO: Add another search manager for the other views. 

    You'll need to provide an 'id' for the search manager and a 'search' for the query. 
    Like views, you can provide inline properties, such as 'earliest_time' and 'latest_time'. 
    Here's an example of a basic search manager:

    {% searchmanager id="sample-manager" search="index=_internal | head 100 | stats count by sourcetype" %}
    -->

{% endblock managers %}

{% block js %}    
    {# No Javascript needed #}
{% endblock js %}
