{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Multi-Panel Dashboard{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
<style>

</style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
    
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Multi-panel dashboard</h2>
        </div>
    </div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    This example shows a dashboard with multiple rows, each containing a different number of cells. This row contains a single cell.</p>

                    <p>Source file: <b>$SPLUNK_HOME/etc/apps/splunk_wftoolkit/django/splunk_wftoolkit/templates/dashboard_stencil2.html</b></p>

                    <p>You can use this code template as a starting point for your own app&mdash;copy and paste the source code from this template into your own template, and then edit it.</p>
                    <p>To learn how to use the template, see the comments in the source file.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with two cells
                    </p>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with two cells
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with three cells
                    </p>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with three cells
                    </p>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with three cells
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 25%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with four cells
                    </p>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 25%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with four cells
                    </p>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 25%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with four cells
                    </p>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 25%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>Panel Title</h3>
                </div>

                <div class="panel-body">

                    <!-- Panel contents -->
                    <p>
                    A row with four cells
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block managers %}

  <!-- Add any Django template tags for search managers here -->

{% endblock managers %}

{% block js %}    
<script>    
require(["splunkjs/ready!", "underscore"], function(mvc, _) {

    // Put JavaScript here

});

</script>
{% endblock js %}
