{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Toolkit Dashboards{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />

    <style>
        .span-full {
            width: 100%;
        }
        .span-half {
            width: 50%;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Basic Dashboard Using Javascript</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 1</h3>
                    </div>
                    <div class="panel-body">
                        <p>This example shows the layout for a basic dashboard using JavaScript.</p>

                        <p>Source file: <b>$SPLUNK_HOME/etc/apps/splunk_wftoolkit/django/splunk_wftoolkit/templates/dashboardjs_stencil.html</b></p>

                        <p>You can use this code template as a starting point for your own app&mdash;copy and paste the source code from this template into your own template, and then edit it.</p>
                        <p>To learn how to use the template, see the comments in the source file.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 2</h3>
                    </div>
                    <div class="panel-body">
                        <p>Add content to this cell.</p>
                        
                        <!-- 
                        When creating views with JavaScript, views can be placed anywhere in the 
                        HTML DOM. On this page, we use hooks with IDs in every cell. The IDs 
                        correspond to views that we'll define later in the <script> tag.
                        -->

                        <div id="cell2-hook"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 3</h3>
                    </div>
                    <div class="panel-body">
                        <p>Add content to this cell.</p>

                        <!-- 
                        Here is a hook for cell 3, defined later in the <script> tag.
                        -->
                        <div id="cell3-hook"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 4</h3>
                    </div>
                    <div class="panel-body">
                        <p>Add content to this cell.</p>

                        <!-- 
                        Here is a hook for cell 4, defined later in the <script> tag.
                        -->

                        <div id="cell4-hook"></div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Add a SearchBar view</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 5</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                        Add a SearchBar view here to control a search manager. Any other views that are bound to the same search manager will be updated when the search is run.
                        </p>

                        <!-- 
                        Here is a hook for cell 5, defined later in the <script> tag.
                        -->
                        <div id="cell5-hook"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-full">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cell 6</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                        Add a view here that is bound to the same search manager as the SearchBar view.
                        </p>

                        <!-- 
                        Here is a hook for cell 6, defined later in the <script> tag.
                        -->

                        <div id="cell6-hook"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
{% endblock content%}

{% block js %}    
    <script>
    // When working with components in JavaScript, we use RequireJS to load the 
    // Splunk MVC controller and necessary libraries, and then define
    // the dependencies inside the callback. 
    //
    // NOTE: Dependencies must be required and assigned to variables in the SAME ORDER. 
    //
    // Here we require the necessary libraries for this example and assign them to 
    // variables in the callback function signature. 
 
    require(
        ["splunkjs/ready!", 
        "underscore",
        "splunkjs/mvc/chartview",
        "splunkjs/mvc/tableview",
        "splunkjs/mvc/singleview",
        "splunkjs/mvc/searchbarview",
        "splunkjs/mvc/searchmanager"
        ], 
        function(
                mvc, 
                _,
                ChartView,
                TableView,
                SingleView,
                SearchBarView,
                SearchManager
    ) {
        
        // TODO: Create search managers in JavaScript. 
        // For each manager, provide an 'id', along with a 'search' property 
        // for the query and any other search properties.
        //
        // For example, to create a simple search manager: 
        //
        // new SearchManager({
        //     id: "example-search1",
        //     earliest_time: "-24h@h",
        //     latest_time: "now",
        //     search: "index=_internal | stats count by sourcetype" 
        // });


        // TODO: Create views in JavaScript. 
        // For each view, provide an 'id', and then a 'managerid' that
        // contains the id of the search manager to bind it to. Each view also 
        // needs an 'el' property that corresponds to the DOM hooks above.
        //
        // For example, to create a chart in cell 2:
        //
        // new ChartView({
        //     id: "chart1",
        //     managerid: "example-search1",
        //     el: $("#cell2-hook")
        // }).render();


        // TODO: Create more views for cells 3 and 4.


        // TODO: Add a search bar (for cell 5) and a search manager that are bound together
        // using the same token value, then add a view for cell 6, such as a table, to display the data.
        //
        // Like other views, the SearchBar view listens to the search manager to keep its
        // properties in sync. However, the search bar can also modify the search 
        // manager by setting the query and search properties when the search bar value changes.
        // To do this, you'll need to either use tokens or create a change event handler. 
        //
        // This example shows an event handler:
        //
        // searchbar.on("change", function() {
        //    manager.set("search", searchbar.val()); 
        // });


    });
       
    </script>
{% endblock js %}
