{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Web Framework Toolkit Overview{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunk_wftoolkit/home.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body">
    <div class="dashboard-header clearfix">
        <h2>Splunk Web Framework Toolkit</h2>
    </div>
    <p>Welcome to the Splunk Web Framework Toolkit! This app contains a collection of examples that show you how to use the components of the Web Framework. You'll find documentation and reference information, along with code templates to help you get started. View the examples in action in this app, then look at the source code in <b>/splunk_wftoolkit/django/splunk_wftoolkit/</b> to see how it's done.</p>
    <p>If you are new to the Web Framework, read the <b><a href="../overview">Web Framework Overview</a></b> to get started.</p>

    <div class="section-nav">
        <ul class="nav-buttons">
            <li id="basic-components-button">
                <a data-section="basiccomponents" href="#basiccomponents">
                    <span class="icon-distributed-environment"></span>
                    Splunk Components
                </a>
            </li>
            <li id="toolkit-visualizations-button">
                <a data-section="toolkitvisualizations" href="#toolkitvisualizations">
                    <span class="icon-bar-beside"></span>
                    Toolkit Visualizations
                </a>
            </li>
            <li id="examples-button">
                <a data-section="examples" href="#examples">
                    <span class="icon-report"></span>
                    Examples
                </a>
            </li>
        </ul>
    </div>
    <div id="basiccomponents" class="toolkit-section clearfix">
        <h3><span class="icon-distributed-environment"></span>Splunk Components</h3>
        <p class="list-description">Splunk Web Framework components that run searches and display visualizations</p>
        <div id="basiccomponents-list" class="toolkit-item-list clearfix">
        </div>
    </div>
    <div id="toolkitvisualizations" class="toolkit-section clearfix">
        <h3><span class="icon-bar-beside"></span>Toolkit Visualizations</h3>
        <p class="list-description">Visualizations available in the Toolkit for displaying data</p>
        <div id="toolkitvisualizations-list" class="toolkit-item-list clearfix">
            <!-- Tooklkit Visualizations pages here -->
        </div>
    </div>
    <div id="examples" class="toolkit-section clearfix">
        <h3><span class="icon-report"></span>Examples</h3>
        <p class="list-description">Examples of using the Splunk Web Framework</p>
        <div id="examples-list" class="toolkit-item-list clearfix">
            <!-- Examples pages here -->
        </div>
    </div>
</div>
            
{% endblock content%}

{% block js %}   
    

    <script id="item-template" type="text/template">
        <div class="toolkit-item">
            <a class="item-link" href="../<%= id %>">
                <img class="item-thumb" src="<%= staticUrl %>splunk_wftoolkit/img/<%= id %>.png"/>
                <div class="item-content">
                    <h4><%= title %></h4>
                    <p class="item-description"><%= description %></p>
                    <p class="view-button">View</p>
                </div>
            </a>
        </div>
    </script> 
    <script>

        require.config({
            shim: {
                "splunk_wftoolkit/contrib/waypoints": {
                    deps: ["jquery"],
                    exports: "waypoints"
                },
                "splunk_wftoolkit/contrib/waypoints-sticky": {
                    deps: ["jquery", "splunk_wftoolkit/contrib/waypoints"],
                    exports: "waypointsSticky"
                }
            }
        });

        require(["jquery", "splunk_wftoolkit/contrib/waypoints", "splunk_wftoolkit/contrib/waypoints-sticky"], function($, waypoint, waypointsSticky) {
            $('.section-nav').waypoint('sticky', {
                offset: -70
            });
        }); 

        require(['jquery', 'underscore'], function($, _) {
            $(function(){

                function clearActiveButtons(){
                    $('.active').removeClass('active');
                }

                // Set up smooth scrolling
                // taken from: http://stackoverflow.com/questions/7717527/jquery-smooth-scrolling-when-clicking-an-anchor-link
                $('a').click(function(){
                    $('html, body').animate({
                        scrollTop: $( $.attr(this, 'href') ).offset().top - 30
                    }, 500);
                    return false;
                });

                var staticUrl = '{{STATIC_URL}}';
                $.getJSON(staticUrl + 'splunk_wftoolkit/json/navinfo.json', function(navdata){
                     var template = _.template( $('#item-template').html() ); 
                    _.each(navdata, function(item){
                        var $sectionList = $('#' + (item['section'] || 'learnmore' ) + '-list');
                        $sectionList.append( template(_.extend(item,{staticUrl: staticUrl})));
                    });
                    $('#basiccomponents').waypoint(function(dir){
                        clearActiveButtons();
                        $('#basic-components-button').addClass('active');
                    });
                    $('#toolkitvisualizations').waypoint(function(dir){
                        clearActiveButtons();
                        $('#toolkit-visualizations-button').addClass('active');
                    });
                    $('#examples').waypoint(function(dir){
                        clearActiveButtons();
                        $('#examples-button').addClass('active');
                    });
                })
                .fail(function(jqxhr, textStatus, error ) {
                    var err = textStatus + ", " + error;
                    console.log( "Request Failed: " + err );
                })

                
            });
        });
    </script>
{% endblock js %}
