{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Toolkit Overview {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunk_wftoolkit/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Splunk Web Framework Toolkit </h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>
                        This is the Splunk Web Framework Toolkit. In this app you will find documentation, samples, and stencil code to help you get started and keep building with the Splunk Web Framework.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
{% endblock content%}

{% block js %}    
    <script>
        
    </script>
{% endblock js %}
