{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Toolkit Overview {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunk_wftoolkit/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Splunk Web Framework Toolkit </h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body html">
                        <p>
                        Welcome to the Splunk Web Framework Toolkit! This app contains a collection of examples that show you how to use the components of the Web Framework. You'll find documentation and reference information, along with code templates to help you get started. You can view all of the examples in action in this app, but then be sure to look at the source code in <b>/splunk_wftoolkit/django/splunk_wftoolkit/</b> to see how it's done.</p>
                        <p>Here's what's included:</p>

                        <h3>Getting Started</h3>
                        <p>Provides an overview of the basic concepts of the Web Framework.</p>

                        <h3>Web Framework Components</h3>
                        <p>Demonstrates all of the search managers and Splunk views that are included in the Web Framework, and includes reference information and code examples in JavaScript and Django.</p>

                        <h3>Toolkit Components</h3>
                        <p>Contains a collection of custom visualizations based on open-source libraries. These views extend SimpleSplunk view to connect to your Splunk server and work with your data.</p>

                        <h3>Examples</h3>
                        <p>Contains example dashboards that demonstrate how to work with different features of the Web Framework, including how to use tokens for data binding, add interactivity, work with events, and more.</p>

                        <h3>Layout Templates</h3>
                        <p>Provides page templates that show you how to lay out the content of your pages using the Splunk dashboard styles. You can use these layout templates as a starting point for your apps.</p>

                        <h3>More Info</h3>
                        <p>Contains useful links to resources when you need to know more.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
{% endblock content%}

{% block js %}    
    <script>
        
    </script>
{% endblock js %}
