{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}JSON Results Viewer - Web Framework Toolkit{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <style type="text/css">
    .splunk-toolkit-results-viewer{
        margin: 20px;
    }
    #button-controls{
        float: right;
        margin: 20px;
    }
    </style>
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>JSON results viewer</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Enter a search to view JSON data</h3>
                    </div>
                    {% searchbar id="searchbar" managerid="search1" %}
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Returned JSON</h3>
                    </div>
                    <div class="panel-body">
                       
                        <div id="button-controls">
                            <div class="btn" id="console-spill">Send to console</div>
                            <!-- <div class="btn">Copy to clipboard</div> -->
                        </div>
                        {% resultsview id="results-viewer" managerid="search1" number="10" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="search1" search="index=_internal | head 10" %}
{% endblock managers %}

{% block js %}
<script>
    

    require(["jquery", "splunkjs/ready!"], function($, mvc) {
        var search = mvc.Components.getInstance('search1');
        var viewer = mvc.Components.getInstance('results-viewer');
        var searchbar = mvc.Components.getInstance('searchbar');
        searchbar.on("change", function() { 
          search.set('search', searchbar.val());
        });
        $("#console-spill").on("click", function(){
            console.log(viewer.getData());
        });
    });
</script>

{% endblock js %}