{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Multi-choice Dropdowns - Web Framework Toolkit{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />

    <style>
        .panel {
            overflow: visible;
        }
        .panel-body h5, .splunk-multidropdown, #dropdown1-text{
            margin-left: 10px;
            margin-bottom: 5px;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Multidropdown</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-body">
                        <p>The <code>multidropdown</code> control provides a dropdown selection menu similar to the <code>dropdown</code> control but makes it possible to select multiple items from the list. </p>
                        <div class="panel-head">
                            <h3>Example</h3>
                            <p>This multidropdown is populated by a Splunk search. It's change event is hooked up to update the list of selected values.</p>
                        </div>
                        <div class="span3">
                            {% multidropdown id="multidropdown1" managerid="sourceTypeSearch" valueField="sourcetype" %}
                        </div>
                        <div class="span6">
                        <p><h5>Selected options</h5><span id="dropdown1-text">None</span></p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Multidropdown with table</h3>
                    </div>
                    <div class="panel-body">
                        <p>This example shows a multidropdown that updates the visible columns in a table.</p>

                        <h5>Select columns to add:</h5>
                        {% multidropdown id="multidropdown2" managerid="fieldsSearch" valueField="field" %}
                        
                        {% table id="rt1" managerid="rt-search" fields="_time sourcetype" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Multidropdown with token binding</h3>
                    </div>
                    <div class="panel-body">
                        <p>This example shows a multidropdown which, on change, converts its values to a token used in a search.</p>
                        <h5>Select sourcetypes:</h5>
                        {% multidropdown id="multidropdown3" managerid="sourceTypeSearch" valueField="sourcetype" %}
                        
                        {% eventsviewer id="et1" managerid="et-search" count="4" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="sourceTypeSearch" search="index=_internal | head 5000 | stats count by sourcetype" %}
    {% searchmanager id="fieldsSearch" search="index=_internal | head 5000 | fieldsummary | where count>3000" rf="*" %}
    
    {% searchmanager id="rt-search" search="index=_internal | head 5000" rf="*" %}
    {% searchmanager id="et-search" search="index=_internal | head 5000 | search $sourceTypes$"|token_safe %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        var _ = require("underscore");
        var multidropdown1 = mvc.Components.getInstance("multidropdown1"); 
        var multidropdown2 = mvc.Components.getInstance("multidropdown2");
        var multidropdown3 = mvc.Components.getInstance("multidropdown3");
        var rt1 = mvc.Components.getInstance("rt1"); 
        var et1 = mvc.Components.getInstance("et1"); 
        var defaultNamespace = mvc.Components.getInstance("default"); 
      
        var selectionText = $("#dropdown1-text");
        multidropdown1.on("change", function() {
            selectionText.text(multidropdown1.val().join(", "));
        });
        
        multidropdown2.on("change", function() {    
            var newFields = _.union(["_time", "sourcetype"], multidropdown2.val());
            rt1.settings.set("fields", newFields);
        });

        multidropdown3.on("change", function() {
            var sourceTypeString = multidropdown3.val().join(' OR ');
            defaultNamespace.set("sourceTypes", sourceTypeString);
        });
    });
</script>

{% endblock js %}