{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}Punchcard - Web Framework Toolkit{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
#punchcard1{
    height: 250px;
}
</style>
{% endblock css %}

    {% block heading %}Punchcard{% endblock heading %}
    {% block explanation %}Punchcard shows a count relationship between two data dimensions{% endblock explanation %}

    {% block example %}
        {% punchcard id="punchcard1" managerid="search" height=500 %}
    {% endblock example %}

    {% block usage %}
    <p>Punchcard shows a count relationship between two data dimensions.</p>
        <ul>
            <li>Require path: <code>splunk_wftoolkit/components/punchcard/punchcard</code></li>
            <li>The Punchcard displays a data dimension counted by another data dimension, such as some event type by minute or hour, or events by host. The Punchcard works especially well with things counted by time.</li>
        </ul>
        <h4>Example searches</h4>
        <div class="well"><ul>
            <li>index=_internal | head 100000 | stats count by date_hour sourcetype</li>
        </ul>
        </div>
        <h4>Properties</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td><b>Name</b></td>
                <td><b>Type</b></td>
                <td><b>Default</b></td>
                <td><b>Description</b></td>
                <td><b>Try it</b></td>
            </tr>
            <tr>
                <td><code>managerid</code></td>
                <td><b>string</b></td>
                <td><b>null</b></td>
                <td>The search manager bound to the chart.</td>
                <td>-</td>
            </tr>
            <tr>
                <td><code>formatXAxisLabel</code></td>
                <td><b>function</b></td>
                <td><b>_.identity</b></td>
                <td>A custom formatting function for x-axis value names.</td>
                <td>{% dropdown id="format-x-axis" default="default" %}</td>
            </tr>
            <tr>
                <td><code>formatYAxisLabel</code></td>
                <td><b>function</b></td>
                <td><b>truncates label</b></td>
                <td>A custom formatting function for y-axis value names.</td>
                <td>{% dropdown id="format-y-axis" default="default" %}</td>
            </tr>
            <tr>
                <td><code>formatCount</code></td>
                <td><b>function</b></td>
                <td><b>rounds to thousands</b></td>
                <td>A custom formatting function for count numbers.</td>
                <td>{% dropdown id="format-counts" default="default" %}</td>
            </tr>
        </table>
    {% endblock usage %}

{% block codesample %}
    require([ 
        "splunkjs/ready!", 
        "jquery",
        "splunk_wftoolkit/components/punchcard/punchcard",
    ], 
    function(mvc, $, Punchcard) {
        var punchcard = new Punchcard({
            'id' : 'example',
            'managerid' : 'example-search',
            'el' : $('#example-chart')
        }).render();
    });
{% endblock codesample %}

{% block managers %}

    {% searchmanager id="search" search='| inputlookup month.csv | fields date_wday sourcetype count' cache=True %}

{% endblock managers %}

{% block js %} 
{{ block.super }}   
<script>    
    require(['splunkjs/ready!', 'underscore'], function(mvc, _) {

        var punchcard = mvc.Components.getInstance('punchcard1');
        var formatXDropdown = mvc.Components.getInstance('format-x-axis');
        var formatYDropdown = mvc.Components.getInstance('format-y-axis');
        var formatCountDropdown = mvc.Components.getInstance('format-counts');
        
        // X-Axis formatter logic
        var X_FORMATTERS = {
            'default': _.identity,
            'caps': function(d) {
                return d.toUpperCase();
            }
        };
        formatXDropdown.settings.set({
            "choices": [
                {label: "Default", value: "default" },  
                {label: "Caps", value: "caps" },  
            ]
        });
        formatXDropdown.on("change", function(val) {
            punchcard.settings.set("formatXAxisLabel", X_FORMATTERS[val]); 
        });
        
        // Y-Axis formatter logic
        var Y_FORMATTERS = {
            'default': function(str) {
                maxLength = 25;
                suffix = '...';
                if (str.length > maxLength) {
                    str = str.substring(0, maxLength + 1); 
                    str = str + suffix;
                }
                return str;
            },
            'short': function(str) {
                maxLength = 5;
                suffix = '...';
                if (str.length > maxLength) {
                    str = str.substring(0, maxLength + 1); 
                    str = str + suffix;
                }
                return str;
            }
        };
        formatYDropdown.settings.set({
            "choices": [
                {label: "Default", value: "default" },  
                {label: "Short", value: "short" },  
            ]
        });
        formatYDropdown.on("change", function(val) {
            punchcard.settings.set("formatYAxisLabel", Y_FORMATTERS[val]); 
        });

        // Count formatter logic
        var COUNT_FORMATTERS = {
            'default': function(str) {
                var value = d[1]; 
                if (value > 1000) {
                    value = Math.round((value / 1000)) + 'K';
                }
                return value;
            },
            'money': function(d) {
                var value = d[1]; 
                if (value > 1000) {
                    value = Math.round((value / 1000)) + 'K';
                }
                return '$' + value;
            }
        };
        formatCountDropdown.settings.set({
            "choices": [
                {label: "Default", value: "default" },  
                {label: "Money", value: "money" },  
            ]
        });
        formatCountDropdown.on("change", function(val) {
            punchcard.settings.set("formatCount", COUNT_FORMATTERS[val]); 
        });
    });
</script>
{% endblock js %}
