{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}{{app_name}} Custom View with Searchbar{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
#sankey1{
    height: 500px;
}
</style>
{% endblock css %}

    {% block heading %}Sankey Chart{% endblock heading %}
    {% block explanation %}The Sankey Chart visualizes flows between nodes.{% endblock explanation %}

    {% block example %}
        {% sankey id="sankey1" managerid="search" %}
    {% endblock example %}

    {% block usage %}
    <p>The Sankey Chart is good for visualizing the magnitude of flow between nodes. Sources nodes are positioned on the left of the graph and sink nodes on the right. Intermediate nodes are placed in the positioned in between. 
    </p>
        <ul>
            <li>require path: <code>wftoolkit/sankeychart</code></li>
            <li>The Sankey chart works best for data that includes a source and a sink. Splunk searches that include <code>stats count by &ltsource&gt &ltsink&gt</code> work well.</li>
        </ul>
        <h4>Example Searches</h4>
        <div class="well"><ul>
            <li>index=_internal | head 20000 | stats count by sourcetype clientip</li>
            <li>| inputlookup musicdata.csv | stats count by artist_name, eventtype</li>
        </ul>
        </div>
        <h4>Options</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Option</td>
                <td>Type</td>
                <td>Default</td>
                <td>Explanation</td>
                <td>Try it</td>
            </tr>
            <tr>
                <td><code>managerid</code></td>
                <td><b>string</b></td>
                <td><b>null</b></td>
                <td>The search manager of the chart</td>
                <td>-</td>
            </tr>
            <tr>
                <td><code>formatName</code></td>
                <td><b>function</b></td>
                <td><b>_.identity</b></td>
                <td>A custom formatting function for node names. Takes each node name as an input and returns a formatted name</td>
                <td>{% dropdown id="format-name" default="phone" %}</td>
            </tr>
            <tr>
                <td><code>formatTooltip</code></td>
                <td><b>function</b></td>
                <td><b>"{source} -> {target}: {value}"</b></td>
                <td>A custom formatting function for path tooltips. Takes each node as an input and returns a formatted tooltip string</td>
                <td>{% dropdown id="format-tooltip" default="default" %}</td>
            </tr>
        </table>
        <h4>Events</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Event</td>
                <td>Properties</td>
            </tr>
            <tr>
                <td><code>click:link</code></td>
                <td>
                    <ul>
                        <li>
                            <code>source</code>: source node name
                        </li>
                        <li>
                            <code>target</code>: target node name
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><code>click:node</code></td>
                <td>
                    <ul>
                        <li>
                            <code>name</code>: node name
                        </li>
                        <li>
                            <code>value</code>: node value
                        </li>
                        <li>
                            <code>incomingLinks</code>: a dictionary of links coming into this node
                        </li>
                        <li>
                            <code>outgoingLinks</code>: a dictionary of links going out of this node
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% endblock usage %}

{% block codesample %}
    require([ 
        "splunkjs/ready!", 
        "jquery",
        "splunk_wftoolkit/components/sankey/sankey",
    ], 
    function(mvc, $, Sankey) {
        var sankey = new Sankey({
            'id' : 'example',
            'managerid' : 'example-search',
            'el' : $('#example-chart')
        }).render();
    });
{% endblock codesample %}

{% block managers %}

    {% searchmanager id="search" search='| inputlookup musicdata.csv | stats count by artist_name, eventtype | where (eventtype="ua-mobile-android" OR eventtype="ua-mobile-ipad" OR eventtype="ua-mobile-blackberry" OR eventtype="ua-mobile-iphone" OR eventtype="ua-mobile-ipod")' cache=True %}

{% endblock managers %}

{% block js %} 
{{ block.super }}   
<script>    
    require(["splunkjs/ready!", "underscore"], function(mvc, _) {

        // Customize the sankey component.  As described in
        // sankeychart.js, the formatName is an option that expects a
        // function.  That function takes a name from the search and
        // returns a formatted name.  In this case, replace access_log
        // strings for mobile clients with more readable names.
        var sankey = mvc.Components.getInstance('sankey1');
        var formatNameDropdown = mvc.Components.getInstance("format-name");
        var formatTooltipDropdown = mvc.Components.getInstance("format-tooltip");
        
        var NAME_FORMATTERS = {
            "default": _.identity,
            "phone": function(name) { 
                return {
                    'ua-mobile-android': 'Android',
                    'ua-mobile-ipad': 'iPad',
                    'ua-mobile-blackberry': 'Blackberry',
                    'ua-mobile-iphone': 'iPhone',
                    'ua-mobile-ipod': 'iPod'
                }[name] || name
            },
            "caps": function(name) {
                return name.toUpperCase();
            }
        };
        
        var TOOLTIP_FORMATTERS = {
            "default": function(d) {
                return (d.source.name + ' -> ' + d.target.name +
                        ': ' + d.value); 
            },
            "custom": function(d) { 
                return _.template("From <%= source.name %> to <%= target.name %>: <%= value %>", d);
            }
        };
        
        sankey.settings.set({
            'formatName': NAME_FORMATTERS['phone']
        });
        
        formatNameDropdown.settings.set({
            "choices": [
                {label: "Default", value: "default" },  
                {label: "Phone Names", value: "phone" },  
                {label: "All Caps", value: "caps" }
            ]
        });
        formatNameDropdown.on("change", function(val) {
            sankey.settings.set("formatName", NAME_FORMATTERS[val]); 
        });
        
        formatTooltipDropdown.settings.set({
            "choices": [
                {label: "Default", value: "default" },  
                {label: "Custom", value: "custom" }
            ]
        });
        formatTooltipDropdown.on("change", function(val) {
            sankey.settings.set("formatTooltip", TOOLTIP_FORMATTERS[val]); 
        });

        sankey.on("click:link", function(e){
            console.log("Link click");
            console.log(e);
        });
        sankey.on("click:node", function(e){
            console.log("Node click");
            console.log(e);
        });
    });
</script>
{% endblock js %}
