{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Setup view for Django - Web Framework Toolkit{% endblock title %}

{% block css %}
    <!-- For setup view styles -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkdj/setup.css" />
    <style>
        /* Left-align the setup view for consistency with other examples,
         * overriding the default setup view styles */
        .splunkdj-setup-form {
            max-width: inherit;
            _width: inherit;
            margin: 30px;
        }
    </style>
    <!-- For pretty-printed code samples -->
    <link rel="stylesheet" href="{{STATIC_URL}}splunk_wftoolkit/contrib/prettify.css"/>
{% endblock css %}

{% block content %}
    <form class="splunkdj-setup-form" method="post" action="">
        <h1>Setup view for Django</h1>
        <p>
            Apps often require configuration before they can be used.
            For example an app may contain a scripted input that requires
            authentication credentials for it to function.
        </p>
        <p>
            Below is a working example of a typical one-page setup view.
        </p>
        
        <hr/>
        
        {% csrf_token %}
        <h1>Welcome to the Acme App</h1>
        <p>
            Enter your Acme credentials below to start extracting data:
        </p>
        
        {{ form.as_p }}
        
        <input class="btn btn-primary" type="submit" value="Save" />
        {% if configured %}
            <a class="btn" href="{% url 'splunk_wftoolkit:home' %}">Cancel</a>
        {% endif %}
        
        <hr/>
        
        <h1>Creating a Setup View</h1>
        <p>
            Setup views, unlike most other parts of the Web Framework,
            require additional configuration outside of the view template
            file (<code>templates/setup.html</code>).
        </p>
        
        <h3>Form Class (forms.py)</h3>
        <p>
            <a href="https://docs.djangoproject.com/en/dev/topics/forms/" target="_blank">
            Django's form system</a> is used to render form fields and
            perform validation on user input. This involves declaring a
            form class in <code>forms.py</code>, usually called <code>SetupForm</code>.
            This form class declares each <em>field</em> that the form should
            contain, along with the <em>widget</em> that should be used to
            render each field.
        </p>
<pre class="prettyprint linenums lang-py">
# === forms.py ===
from splunkdj.setup import forms   # (1): NOT from django import forms

class SetupForm(forms.Form):
    email = forms.EmailField(
        endpoint='configs/conf-setup', entity='auth', field='email',     # (2)
        max_length=100)
    password = forms.CharField(
        endpoint='configs/conf-setup', entity='auth', field='password',  # (2)
        max_length=100,
        widget=forms.PasswordInput(render_value=True))
</pre>
        <p>
            Setup form fields work very similarly to
            <a href="https://docs.djangoproject.com/en/1.5/topics/forms/" target="_blank">
            Django form fields</a>. In particular validation is performed by
            the field type (ex: <code>EmailField</code>) and alternate visual
            widgets (ex: <code>PasswordInput</code>) are available.
        </p>
        <p>
            (1) Setup form fields must be imported from the
            <code>splunkdj.setup.forms</code> module and not the usual
            Django <code>django.forms</code> module. At this time it is not
            possible to mix regular Django fields with setup form fields.
        </p>
        <p>
            (2) Setup form fields have additional required constructor 
            parameters that describe how to save and load the field
            values from Splunk. One of the following parameter sets must be
            specified for each field:
        </p>
        <ul>
            <li><code>endpoint, entity, field</code> — Loads/saves the field value from the <a href="http://docs.splunk.com/Documentation/Splunk/latest/RESTAPI/RESTcontents" target="_blank">Splunk REST API</a>.</li>
            <ol>
                <li><code>endpoint</code> - URL to a collection endpoint in the <a href="http://docs.splunk.com/Documentation/Splunk/latest/RESTAPI/RESTcontents"> target="_blank"Splunk REST API</a>.</li>
                <li><code>entity</code> - Name of an entity to access. This name is not URL encoded.</li>
                <li><code>field</code> - Name of a field on the entity to access. This name is not URL encoded.</li>
            </ol>
            <li><code>load, save</code> — Custom callables that load/save the field value from a location of your choosing.</li>
            <ol>
                <li><code>load</code> - Callable that takes <code>(request, form_cls, field)</code> and returns the persisted value for the field.</li>
                <li><code>save</code> - Callable that takes <code>(request, form, field, value)</code> and persists the specified value.</li>
            </ol>
        </ul>
        
        <h3>View Functon (views.py)</h3>
        <p>
            A setup view also requires a view function to be explicitly declared
            in <code>views.py</code>, usually called <code>setup</code>.
            This view function uses the information in the form class
            to load and save the form fields appropriately. This loaded
            form is then passed to the view template
            (<code>templates/setup.html</code>).
        </p>
<pre class="prettyprint linenums lang-py">
# === views.py ===
from .forms import SetupForm
from django.core.urlresolvers import reverse
from splunkdj.setup import create_setup_view_context

@render_to('splunk_wftoolkit:setup.html')
@login_required
def setup(request):
    # Renders the setup view, passing the following variables to the template:
    #   * form -- Can be rendered with &#123;&#123; form.as_p &#125;&#125;.
    #   * configured -- Whether the app has already been configured.
    #                   If false, then the existing configuration is being edited.
    return create_setup_view_context(
        request,
        SetupForm,                  # the form class to use
        reverse('splunk_wftoolkit:home'))  # where to redirect after the completing the setup view
</pre>
        
        <h3>View Template (templates/setup.html)</h3>
        <p>
            The view template is called by the view function with the
            <code>form</code> and <code>configured</code> variables.
            These variables are typically used to render the form in a
            pattern similar to:
        </p>
<pre class="prettyprint linenums lang-html">
&lt;!-- templates/setup.html --&gt;
&#123;% block css %&#125;
    &lt;link rel="stylesheet" type="text/css" href="&#123;&#123;STATIC_URL&#125;&#125;splunkdj/setup.css" /&gt;
&#123;% endblock css %&#125;

&#123;% block content %&#125;
    &lt;form class="splunkdj-setup-form" method="post" action=""&gt;
        &#123;% csrf_token %&#125;
        &lt;h1&gt;Welcome to the Acme App&lt;/h1&gt;
        &lt;p&gt;
            ... setup instructions ...
        &lt;/p&gt;
        
        &#123;&#123; form.as_p &#125;&#125;
        
        &lt;input class="btn btn-primary" type="submit" value="Save" /&gt;
        &#123;% if configured %&#125;
            &lt;a class="btn" href="&#123;% url 'splunk_wftoolkit:home' %&#125;"&gt;Cancel&lt;/a&gt;
        &#123;% endif %&#125;
    &lt;/form&gt;
&#123;% endblock content %&#125;
</pre>
        <p>
            The <code>&#123;&#123; form.as_p &#125;&#125;</code> tag performs
            the actual rendering of the form fields.
        </p>
        <p>
            The <code>&#123;% if configured %&#125;</code> section
            conditionally displays a Cancel button if the app was already
            configured. This is appropriate when the user is returning to
            the setup view to edit existing settings.
        </p>
        
        <h3>View Route (urls.py)</h3>
        <p>
            The last modification needed to make the setup view work is
            the addition of a new route to <code>urls.py</code>:
        </p>
<pre class="prettyprint linenums lang-py">
# === urls.py ===
from django.conf.urls import patterns
from django.conf.urls import url

urlpatterns = patterns('',
    ...
    url(r'^setup/$', 'splunk_wftoolkit.views.setup', name='setup'),
)
</pre>
        <p>
            When the <code>http://localhost:8000/dj/en-us/splunk_wftoolkit/setup/</code>
            URL is requested this route activates and calls the the
            <code>setup</code> view function.
        </p>
        
        <h3>Redirecting to the Setup View (@config_required in views.py)</h3>
        <p>
            Most apps requiring configuration through a setup view will not
            operate correctly until setup is complete. Therefore it is
            desirable that the user be redirected to the setup view if they
            try to access any other view before the app is setup. This can
            be accomplished by marking all other views in an app with the
            <code>@config_required</code> decorator:
        </p>
<pre class="prettyprint linenums lang-py">
# === views.py ===
@render_to('splunk_wftoolkit:home.html')
@login_required
@config_required    # autoredirects to the setup view if app isn't configured
def home(request):
    ...

@render_to()
@login_required
@config_required    # autoredirects to the setup view if app isn't configured
def render_page(request, tmpl):
    ...

@render_to('splunk_wftoolkit:setup.html')
@login_required
def setup(request):
    ...
</pre>
        
        <h2>Advanced Setup Views</h2>
        <p>
            There are a number of interesting ways to extend setup views:
        </p>
        <ul>
            <li>Custom form widgets, for custom controls and visualizations for fields</li>
            <li>Field load and save functions, for custom field persistence</li>
            <li>Custom form fields, for custom validation rules</li>
            <li>Multi-page setup views</li>
        </ul>
        <p>
            Other examples will demonstrate some of these applications.
        </p>
    </form>
{% endblock content %}

{% block js %}
    <!-- For pretty-printed code samples -->
    <script type="text/javascript">
        require.config({
            shim: {
                "splunk_wftoolkit/contrib/prettify": {
                    deps: [],
                    exports: "prettyPrint"
                } 
            }
        });

        require(["splunk_wftoolkit/contrib/prettify"], function(prettyPrint) {
            prettyPrint();
        });
    </script>
{% endblock js %}
