{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}Bubble Chart Examples{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
#example-chart{
    height: 500px;
}
</style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2> {% block heading %}Bubble Chart Examples{% endblock heading %} </h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-body">
                    <p>These use the search: <b>| inputlookup faa.demo.csv | stats count by OriginCityName OriginState | sort - count limit=30</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-row">
        
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>No Options</h3>
                    </div>
                    <div class="panel-body">
                        <div id="example-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block managers %}

    {% searchmanager id="search1" search='| inputlookup musicdata.csv | search bc_uri=/sync/addtolibrary/* | stats count by artist_name, track_name' cache=True %}

    {% searchmanager id="example-search" search='| inputlookup faa.demo.csv | stats count by OriginCityName OriginState | sort - count limit=20' %}
    {% searchmanager id="fieldSearch" search='| inputlookup faa.demo.csv | head 5000 | fieldsummary | where count>20' rf="*" %}

{% endblock managers %}

{% block js %}    

<script type="text/javascript">
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunk_wftoolkit/bubblechart",
        "splunkjs/mvc/dropdownview",
        "splunk_wftoolkit/sankeychart",
        "splunk_wftoolkit/forcedirected",
        "splunk_wftoolkit/sunburst",
        "splunk_wftoolkit/parallelsets",
        "splunk_wftoolkit/parallelcoords",
        "splunk_wftoolkit/globe",
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            BubbleChart,
            DropdownView,
            SankeyChart,
            ForceDirected,
            Sunburst,
            ParallelSets,
            Parallelcoords,
            Globe
        ){
            var globe = new Globe({
                'id' : 'example',
                'managerid' : 'example-search',
                'el' : $('#example-chart')
            }).render();

        });
</script>

{% endblock js %}
