.main-section-body.dashboard-body {
	background: none;
}

.main-section-body.dashboard-body p {
font: 15px/22px roboto;
}

.dashboard-header h2 {
margin-top: 5px;
}

.dashboard-body h3 {
	clear:both;
	padding-top: 15px;
	font-size: 24px;
	font-weight: 200;
}

h3+p {
	
	font-style: italic !important;
	font: italic 17px/24px roboto !important;
}

span[class|="icon"] {
	padding-right: 5px;
}

.toolkit-item-list {
	margin-top:20px;
}

.nav-buttons {
	margin:0;
	margin-left:3px;
}

.section-nav ul.nav-buttons li {
display: inline;
}

.section-nav ul.nav-buttons li a {
    display: inline-block;
    border: 1px solid #BDD0F0;
    margin: 15px -2px;
    padding: 10px;
    width: 170px;
    background-color: #EFF4FC;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
}

.section-nav ul.nav-buttons li a:hover {
	text-decoration: none;
	background-color: #D3E0F5;
	transition: all 200ms ;

}

.section-nav ul.nav-buttons li:hover a,
.section-nav ul.nav-buttons li:hover a span {
	text-decoration: none;
}


.section-nav ul.nav-buttons li a span {
    display: block;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
}

.toolkit-item {
	clear:both;
	margin-bottom: 30px; 

}



a.item-link div.item-content h4 {
font-size: 18px;
}


a.item-link:hover {
	text-decoration: none;
}


a.item-link div.item-content h4,
a.item-link div.item-content p.item-description {
	color: #333;
}

a.item-link div.item-content h4:hover {
color: #5379af;
}


a.item-link div.item-content p.view-button {
/*
	font-size: 13px;
	color: #5379af;
	*/
	display: inline;
	font-size: 13px;
	border: 1px solid #BDD0F0;
    padding: 5px 15px;
    background-color: #EFF4FC;
    background-color: rgba(239, 244, 252, .5);
    border-color: rgba(189, 208, 240, .5);
    
}

a.item-link div.item-content p.view-button:hover {
	/*color:#32496a;*/
		
	background-color: #D3E0F5;
	transition: all 200ms;
	
}

img.item-thumb {
	opacity: .7;
	float: left;
	margin: 2px 17px 32px 37px;
	height: 175px;
	width: 175px;
	border: 1px solid #ddd;
}


a.item-link img.item-thumb:hover {
	opacity: 1.0;
	margin: 0px 15px 30px 35px;
	border: 3px solid #BDD0F0;
}

a.item-link:hover img.item-thumb {
	opacity: 1.0;
}