{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Bubble Chart{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
#bubble1{
   height: 500px;
}
</style>
{% endblock css %}

    {% block heading %}Bubble Chart{% endblock heading %}
    {% block explanation %}The Bubble Chart visualized magnitude of data optionally grouped by category.{% endblock explanation %}

    {% block example %}
        {% bubblechart 
            id="bubble1" 
            managerid="search1"
            nameField="OriginCityName"
            valueField="count"
            groupingField="OriginState"
        %}
    {% endblock example %}

{% block managers %}

    {% searchmanager id="search1" search='| inputlookup faa.demo.csv | stats count by OriginCityName OriginState | sort - count limit=30' %}

{% endblock managers %}

{% block js %}    

{% endblock js %}
