{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Calendar Heatmap{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

    {% block heading %}Calendar Heatmap{% endblock heading %}
    
    {% block example %}
        {% calendarheatmap 
                id="myheat"
                managerid="search1"
                domain="hour"
                subdomain="min"
                start="current"
        %}
    {% endblock example %}


{% block managers %}
    {% searchmanager id="search1"
        search='index=_internal bytes=*| head 30000'
    %}
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        var heat = mvc.Components.getInstance("myheat");
        heat.settings.set("options", {
            //define options here
            legend: [100000, 300000, 700000, 100000, 500000],
        });


        // The following is for demo purposes only. Disregard when using this example!
        // It sets the starting position 3 hours behind the current hour.

       // var d = new Date();
       // var d2 = new Date();
       // d2.setHours(d.getHours() - 3);
      // heat.settings.set("start", d2);

    });
</script>

{% endblock js %}
