{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Callendar Heatmap{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

  {% block heading %}Callendar Heatmap{% endblock heading %}

  {% block explanation %}Callendar Heatmap.{% endblock explanation %}

  {% block example %}
    {% calheat 
        id="myheat"
        managerid="search1"
        value="$searchtoken$"|token_safe
        maxSeries=5
    %}
  {% endblock example %}

{% block managers %}

  {% searchmanager id="search1"
    search='index=_internal sourcetype=splunkd metrics | head 10000 | timechart count by group span=1m'
  %}

{% endblock managers %}

{% block js %}


{% endblock js %}
