{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Calendar Heatmap{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

  {% block heading %}Calendar Heatmap{% endblock heading %}

  {% block explanation %}Calendar Heatmap.{% endblock explanation %}

  {% block example %}
    {% calheat 
        id="myheat"
        managerid="search1"
        value="$searchtoken$"|token_safe
        domain="hour"
        subdomain="min"
        start="current"
    %}
  {% endblock example %}
{% block managers %}

  {% searchmanager id="search1"
    search='index=_internal bytes=*| head 30000'
  %}

{% endblock managers %}

{% block js %}
<script>
  require(["splunkjs/ready!"], function(mvc) {
    var heat = mvc.Components.getInstance("myheat");
    heat.settings.set("options", {
      //define options here
      legend: [100000, 300000, 700000, 100000, 500000],
    });

    // The following is for the purpose of this demo only. It scrolls back a few pages
    // threehoursago = new Date();
    // alert(threehoursago)
    // threehoursago -= 10800;
    // alert(threehoursago)
    // threehoursago = threehoursago.getTime();
    // alert(threehoursago)
    // heat.settings.set("start", valueOf())

  });
</script>

{% endblock js %}
