{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Calendar Heatmap{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

  {% block heading %}Calendar Heatmap{% endblock heading %}

  {% block explanation %}Calendar Heatmap.{% endblock explanation %}

  {% block example %}
    {% calheat 
        id="myheat"
        managerid="search1"
        value="$searchtoken$"|token_safe
        domain="hour"
        subdomain="min"
    %}
  {% endblock example %}
{% block managers %}

  {% searchmanager id="search1"
    search='| inputlookup faa.demo.csv | search OriginCityName=* | head 100 | timechart count by OriginCityName'
  %}

{% endblock managers %}

{% block js %}
<script>
  require(["splunkjs/ready!"], function(mvc) {
    var heat = mvc.Components.getInstance("myheat");
    heat.settings.set("options", {
      //define options here
      legend: [10, 30, 60, 80, 100],
    });
  });
</script>

{% endblock js %}
