{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Force-Directed Graph{% endblock title %}

{% block css %}
{{block.super}}

{% endblock css %}

  {% block heading %}Force-Directed Graph{% endblock heading %}
  {% block explanation %}Force-directed graph.{% endblock explanation %}

  {% block example %}
    {% forcedirected id="force-directed" managerid="search1" %}
  {% endblock example %}

{% block managers %}

  {%  searchmanager id="search1"
      search='| inputlookup faa.demo.csv | head 300 | stats count by OriginCityName, DestCityName, DestStateName | sort count'
  %}

{% endblock managers %}

{% block js %}    

{% endblock js %}
