{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Globe{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
.splunk-toolkit-globe{
  height: 500px;
  margin: 10px;
  padding: 3px;
}
</style>
{% endblock css %}

  {% block heading %}Globe{% endblock heading %}
  {% block explanation %}
  <p>The Globe component displays geographic data on a WebGL globe. It works best in Chrome.</p>
  <p>Below is an example of a globe displaying earthquake data by magnitude.</p>

  {% endblock explanation %}

  {% block example %}
    {% globe id="example-globe" managerid="earthquake-search" %}
  {% endblock example %}

{% block managers %}

  {% searchmanager id="earthquake-search"
    search='| inputlookup earthquakes.csv | search Magnitude>2.5 | dedup Region | fields Lat Lon Depth Magnitude Region | rename Lat as latitude, Lon as longitude, Depth as depth, Magnitude as magnitude, Region as location'
  %}

{% endblock managers %}

{% block js %}    

{% endblock js %}
