{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Parallel Coordinates{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

  {% block heading %}Parallel Coordinates{% endblock heading %}
  {% block explanation %}Parallel Coordinates{% endblock explanation %}

  {% block example %}
    {% parallelcoords
        id="example"
        managerid="search1"
    %}
  {% endblock example %}

{% block managers %}

  {% searchmanager id="search1"
    search='index=_internal sourcetype=splunkd_access | head 100 | fields method status'
  %}

{% endblock managers %}

{% block js %}    

{% endblock js %}
