{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Parallel Coordinates{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
.splunk-toolkit-parcoords{
  height: 400px;
  margin: 10px;
  padding: 3px;
}
</style>
{% endblock css %}

  {% block heading %}Parallel Coordinates{% endblock heading %}
  {% block explanation %}Parallel Coordinates{% endblock explanation %}

  {% block example %}
    {% parallelcoords
        id="example"
        managerid="search1"
    %}
  {% endblock example %}

{% block managers %}

  {% searchmanager id="search1"
    search='| inputlookup faa.demo.csv | search DestCityName="*, NY" OR DestCityName="*, CA" OR DestCityName="*, GA" OriginCityName="Seattle, WA" OR OriginCityName="San FranCisco, CA" OR OriginCityName="New York, NY" AirlineDescription=*| head 10000 | fields AirlineDescription OriginCityName DestCityName'
  %}

{% endblock managers %}

{% block js %}    

{% endblock js %}
