{% extends 'splunkdj:base_with_account_bar.html' %}
{% load splunkmvc %}
{% load sunburst %}
{% block title %}{{testapp}}sunburst!!!{% endblock title %}
{% block content %}
    <h3>Sunburst!</h3>
    {% sunburst 
        id="mysunburst"
        managerid="search2"
    %}
{% endblock content %}

{% block managers %}
	{% searchmanager id="search2"
		search='index=_internal sourcetype=splunkd metrics group=queue | fields name max_size_kb | head 50 | table name max_size_kb'
	%}
{% endblock managers %}

