{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load wftoolkit %}

{% block title %}Sunburst{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
.splunk-toolkit-sunburst{
  height: 700px;
}
</style>
{% endblock css %}

  {% block heading %}Sunburst{% endblock heading %}
  {% block explanation %}Sunburst.{% endblock explanation %}

  {% block example %}
    {% sunburst 
        id="example-sunburst"
        managerid="search1"
        sizeField="size"
        chartTitle="Cancelation Causes"
        groupingFields="cancellation AirlineDescription"
    %}
  {% endblock example %}

{% block managers %}

  {% searchmanager id="search1"
    search='| inputlookup faa.demo.csv | search cancellation=* | stats count by cancellation, AirlineDescription | rename count as size'
  %}

{% endblock managers %}

{% block js %}    

{% endblock js %}
