<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Data template</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />
    <link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/splunk_wftoolkit/contrib/prettify.css"/>
    <link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/splunk_wftoolkit/css/custom.css"/>
    <link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/splunk_wftoolkit/dataview/dataview.css"/>
</head>
<body>
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header">
    <div id="placeholder-splunk-bar">
        <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
    </div>
    <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div id="content" class="centered">
        <!-- Example content -->
        <div class="dashboard-body container-fluid main-section-body centered component-page">
          <div class="row">
            <div class="span12 dashboard-header clearfix">
              <h2>Data template</h2>
            </div>
          </div>
        
          <div class="dashboard-row">
            <div class="dashboard-cell">
              <div class="dashboard-panel">
                <div class="dashboard-element">
                  <div class="panel-head">
                  </div>
        
                  <div class="panel-body html">
                    <p>
                      The DataTemplate view provides developers with the
                      ability to render data using the client-side
                      templating engine provided by <a href=
                      "http://underscorejs.org" target="_blank">Underscore</a>.
        
                      Explaining how underscore templates work is beyond the scope
                      of this example, but the following examples should
                      help you get started.
                    </p>
        
                    <div class="bs-docs-example">
                      <div id="single-search-example"></div>
                    </div>
                      <h2>
                        DataTemplate view using JavaScript
                      </h2>
                      
                      <p>
                        In this example, the DataTemplate view is instantiated in JavaScript. 
                        The content of the template is associated with the view programmatically.
                        This technique allows you to invoke external templates using advanced loaders such as
                        <a href="http://requirejs.org/" target="_blank">RequireJS</a>.
                      </p>
        
                      <div class="bs-docs-example">
                        <div id="search-top-song-table">
                        </div>
                        <script type="text/x-underscore-tmpl" id="search-top-song-template" class="c2"><!--
                          <table class="example">
                            <tbody>
                              <% for(var i=0, l=results.length; i<l; i++) { var line=results[i]; %>
                                <tr><td><%= line.track_name %>:</td><td>&nbsp;&nbsp;<%= line.count %></td></tr>
                              <% } %>
                            </tbody>
                          </table>
                        --></script>
                      </div>
        
                        <pre class="prettyprint linenums lang-js">
require([
    'jquery', 
    'underscore', 
    'prettify', 
    'splunkjs/ready!', 
    'splunkjs/mvc/searchmanager',
    'splunkjs/mvc/datatemplateview'
], function($, _, prettyPrint, mvc, SearchManager, DataTemplateView) {

    new SearchManager({
        id: 'example-single-search',
        search: 'index=_internal | stats count | rangemap field=count low=0-3 elevated=3-6 severe=6-10 default=severe',
        earliest_time: '-15m',
        latest_time: 'now'
    });

    new DataTemplateView({
        id: 'single-search-example',
        managerid: 'example-single-search',
        template: '&lt;div class=&quot;example-1&quot;&gt;Event Count: &lt;%= results[0].count %&gt;. Status: &lt;%= results[0].range %&gt;&lt;/div&gt;',
        el: $('#single-search-example')
    }).render();

}); </pre>
        </div>
      </div>
  </div>
</div>
</div>
</div>
        
        
        
    </div>
    <div id="wide-content"></div>
</div>
<div class="footer"></div>
<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/contrib/require.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/profiles/shared.js"></script>
<script type="text/javascript">
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js"
});
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/splunk_wftoolkit/examples_common.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/splunk_wftoolkit/dataview/dataview.js"></script>
</body>
</html>
